extends ../layout

block content
  .container
    h1.mt-4= title
    .row.mt-4
      .col-md-5
        if errors && errors.length
          .alert.alert-danger.py-2
            each err in errors
              div= err.msg

        form(action=editUser ? `/users/${editUser.id}` : '/users' method='post')
          .mb-3
            label.form-label(for='username') Username
            input#username.form-control(
              type='text'
              name='username'
              value=editUser ? editUser.username : ''
              minlength='3'
              maxlength='64'
              pattern='[a-zA-Z0-9]+'
              required
              readonly=editUser ? true : false
              autofocus=!editUser
            )

          .mb-3
            label.form-label(for='password')
              = editUser ? 'Password (leave blank to keep current)' : 'Password'
            input#password.form-control(
              type='password'
              name='password'
              minlength='8'
              maxlength='128'
              autocomplete='new-password'
              required=!editUser
            )

          .mb-3
            label.form-label(for='role') Role
            select#role.form-select(name='role')
              option(value='user'  selected=editUser && editUser.role === 'user')  User
              option(value='admin' selected=editUser && editUser.role === 'admin') Admin

          .d-flex.gap-2
            button.btn.btn-primary(type='submit')= editUser ? 'Update User' : 'Create User'
            a.btn.btn-secondary(href='/users') Cancel
